<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" initial-scale=1.0">
    <title>Emotional WordCloud</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
</head>

<body>
    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
    <h1>Crawl the Emotion from the Music</h1> <!--링크를 입력하면 나오는 음악 제목-->
    <br> <br>
    <form id="put-link-form" method="GET">
        <input type = "text" required name = "link" id = "music-link" placeholder = "Put the Music Link in Here">
    </form>
    <br>
    <input type = "button" onClick="location.href='show_wordcloud.html'" id='click-and-show' value = "See the Wordcloud">
    <video muted autoplay loop>
        <source src="../static/video/Savage-2.mp4" type="video/mp4">
    </video>
</body>
</html>
