<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" initial-scale="1.0">

    <title>Emotional WordCloud</title>
    <link rel="stylesheet" href="../static/style/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
</head>

<body>
    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
    <br> <br>
    <form method="GET" action="/wordcloud"></form>
        <p> {{ link }} </p>
        <!-- <p id="wordcloud_img"> wordcloud image in here </p> -->
    <video muted autoplay loop>
        <source src="../static/video/background.mp4" type="video/mp4">
    </video>
</body>
</html>